<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

        <app-invoice-list></app-invoice-list>

    </div>
    <!-- Card column -->
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">

        <app-invoice-detail></app-invoice-detail>

    </div>
    <!-- column -->
</div>